source activate structExpectations-analysis

# We need the baseline directory quite frequently
export PROJECT_DIR=$PWD

# We need access to other tools
# export PYTHONPATH=$PROJECT_DIR/submodules/soepy:$PYTHONPATH
export PYTHONPATH="$PYTHONPATH:/Users/boryanailieva/Projects/soepy"
export PYTHONPATH=$PROJECT_DIR:$PYTHONPATH

# Adding bin directory
export PATH=$PROJECT_DIR/bin:$PATH

# configurations
export MATPLOTLIBRC=$PROJECT_DIR/configurations
export JUPYTER_CONFIG_DIR=$PROJECT_DIR/configurations/jupyter
export IPYTHONDIR=$PROJECT_DIR/configurations/ipython

