source activate structExpectations-analysis

# We need the baseline directory quite frequently
export PYTHONPATH=$PWD:$PYTHONPATH

# We need access to other tools
export PYTHONPATH=$PROJECT_DIR/submodules/soepy:$PYTHONPATH

# Adding bin directory
export PATH=$PROJECT_DIR/bin:$PATH
export PYTHONPATH=$PROJECT_DIR/bin:$PYTHONPATH

# configurations
export MATPLOTLIBRC=$PROJECT_DIR/configurations
export JUPYTER_CONFIG_DIR=$PROJECT_DIR/configurations/jupyter
export IPYTHONDIR=$PROJECT_DIR/configurations/ipython
